@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');


body {
  background-color: #F3D250;
  color: rgb(13, 26, 46)  ;
  font-family: 'Baloo Paaji 2', cursive;
  padding: 0;
  margin: 0;
}

label , input {
  margin: 3% 0;
}

body img {
  width: 200px
}

body h3 {
  cursor:pointer;
}

a {
  text-decoration: none;
}


.icon {
  width: 32px;
  height: 32px;
}

button {
  background-image: linear-gradient(#d464ed , #F3D250) ;
  color: black;
  font-size: 1em;
  margin: 5% 0;
  outline: none;
  border-radius: 10px; 
}

/* dropbox with cat */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ECECEC;
  border:1px solid #F78888;
  border-radius: 15px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-decoration: none;
}

/* ICONS */

.icon {
  width: 32px;
  height: 32px;
  border: none;
}

/* DROPDOWN NAVBAR */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #d464ed ;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #d464ed;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* FORMS SECRET PAGE */

.form_container {
	width: 30%;
	margin: 10vh 35%;
	display: flex;
  flex-direction: column;
	border: 1px solid gray;
  background-color: rgb(247, 101, 101);
  color:#F3D250;
	padding: 2%;
	border-radius: 5px;
}

.forms {
	width: 50%;
  margin: 2vh 25%;
 	display: block;
  flex-direction: column;
	border: 1px solid gray;
  background-color: rgb(247, 101, 101);
  color: #F3D250;
	padding: 1em;
  border-radius: 5px;
  text-align: center;
}

.forms label {
  display: flex;
  justify-content: center;
  width: 100%;
  }

.forms input {
width: 80%;
}

.message {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* SECRET PAGE */

.secret_page {
margin: 0;
}

.secret-page-div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secret-page-btn {
  padding: 15px 32px;
}

.imageUp {
  display: flex;
  justify-content: space-evenly;
}

.imageUp button {
  padding: 2em;
}


/* GRID FOR ALL */


.grid  {
  margin-right: 2.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
}

/* NAVBAR */

.nav {
  color:#d464ed;
  position: sticky;
  top:0%;
  opacity: 0.95;
}




/* SINGLE PRODUCT PAGE */

.singleProductContainer {
  border: 1.5px solid #d464ed;
  border-radius: 20px;
  background-color: #ECECEC;
  margin-left: 8%;
  margin-bottom: 8%;
  display: flex;
  align-items: center;
	justify-content: center;
}

.singleProductContainerBig {
  border: 1.5px solid #d464ed;
  border-radius: 20px;
  background-color: #ECECEC;

}

.singleProductContainerSectionName {
  text-align: center;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #fd9722;
  text-shadow: 1px 1px 2px rgb(35, 4, 36), 0 0 25px rgb(156, 7, 156), 0 0 5px rgb(27, 6, 27);
  color: #f6fa2a;
}

.singleProductContainerSectionParagraph {
  text-align: center;

}

.singleProductContainerSectionImage {
  border: 1px solid #d464ed;
  border-radius: 15px;
  max-height: 100%;
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
	justify-content: center;
}

.singleProductContainerSectionImageBig {
  border: 1px solid #d464ed;
  border-radius: 15px;
  width: 35%;
}

.singleProductContainerSectionImageBig :hover {opacity: 0.7;}

.page {
display: grid;
grid-template-columns: 1fr 1fr;
padding: 2em;
}

.page button {
  padding: 0.5em;
}

.singleProductContainerSection {
  padding: 0.5em;
}

.singleProductSpan {
  display: flex;
  justify-content: space-evenly;
}

.singleProductContainerSectionPrice {
  padding-top: 0.5em;
}

.singleProductContainerSectionButton {
padding: 1em;
color: #f9f9f9;
font-size: large;
}

/* ADD TO CART MESSAGE */

.singleProductContainerSectionTimeOut {
  padding: 2em;
  color: #f03514;
  font-size: large;
  font-weight: bold;
}

/* CART PAGE */

.spanAll {
  margin-left: 10%;
}

.spanCart {
  display: inline-block;
  margin: 20px 0;
  margin-left: 10%;
}

.displayCartProds {
  border: 1.5px solid #d464ed;
  border-radius: 20px;
  background-color: #ECECEC;
  padding: 3em;
  margin-top:1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  font-size: medium;
}

/* FOOTER */

footer h2{
float: left;
display: block;
padding: 1em
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 234, 148);
  color: #d464ed;
  text-decoration: none;
  font-size: small;
}

/* Register sentence */

.reg {
  text-align: center;
}

/* header */

.header {
  background-image: url(./components/header.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
  padding: 0%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header h2 {
  color: #fffc45;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 255), 0 0 5px rgb(91, 3, 94);
  border: 1px solid #ececec;
  background-color: #f9f9f9;
  padding: 0.5em;
  opacity: 0.7;
  border-radius: 5px;

}

/* USER PAGE */

.userPageAccountD {
  border: 1.5px solid #d464ed;
  border-radius: 20px;
  background-color: #ECECEC;
  padding: 1em;
  margin: 5%;
}

.userPageOrderD {
  border: 1.5px solid #d464ed;
  border-radius: 20px;
  background-color: #ECECEC;
  padding: 1em;
  margin: 5%;
}

.h2Hello {
  text-align: center;
}

/* CHECKOUT */

.checkout_container {
  width: 70%;
  margin-left: 15%;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 70% 20%;
}

.checkout_container img {
  width: 55%;
}
.total {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.topCheckOut {
  display: flex;
  letter-spacing: 0.2em;
}

.products_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.product_container {
  width: 20%;
  height: 60%;
  border: 1px solid black;
  background-color: #ECECEC;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
}

.image_container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_container {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 80%;
}


.message_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message_box {
  width: 30%;
  height: 25%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  border-radius: 0.4em;
}

.message_box_left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_box_right {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

/* ORDERS PAGE */

.orderContainer {
border: 1.5px solid #d464ed;
border-radius: 20px;
background-color: #ECECEC;
padding: 1em;
margin: 1%;
}

.orderList {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
border: 1px solid black;
padding-left: 12em;
}

@media all and (max-width: 800px){
  .grid {
    grid-template-columns: 1fr 1fr;
    margin-right: 3.5%;
  }

  .header {
    display: none;
  }
}

@media all and (max-width: 460px){
  .grid {
    grid-template-columns: 1fr;
    margin-right: 4%;
  }
  .header {
    display: none;
  }
}