
/* .dropdown {
  float: left;
  overflow: hidden;
} */

/* .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #F78888;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
} */


/* .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} */

/* .dropdown-content a:hover {
  background-color: black;
} */

/* .dropdown:hover .dropdown-content {
  display: block;
} */

/* .headerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  padding: 0%;
} */

/* .headerBtn {
  position: absolute;
  top: 35%;
  left: 45%;
} */

